<mat-card class="card-cadastro">
  <mat-card-content>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="salaoDeManutencao.nome" placeholder="Digite o nome">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="salaoDeManutencao.endereco" placeholder="Digite o endereço">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="salaoDeManutencao.dono" placeholder="Digite o Dono">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="salaoDeManutencao.funcionarios" placeholder="Digite quantos funcionários">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="manter()">{{nomeBotaoManutencao}}</button>
  </mat-card-actions>
</mat-card>
